<section class="container">
  <div class="row index-row">
    <div class="col-md-5">
      <aside class="image-box">
        <img src="http://pomodorotechnique.com/wp-content/themes/pomodoro/img/logos/logo.png" alt="pomodoro image">
      </aside>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <article class="text">
        <p> The Pomodoro Technique is very simple yet powerful tool for being productive. Just work for 25 minutes,
          focus on <strong> one task only </strong> and then take a break!</p>

        <p> Click on start to <strong> begin your pomodoro</strong>, go on tasks to manage your work or learn more
          about this app, pomodoro technique and us. </p>

        <div class="login">
          <span class="button"> Sign-up </span>
          <span class="login_text">login or</span>
        </div>
      </article>
    </div>
  </div>
</section>

