
<section class="container">
  <div class="row start-row">
    <div class="col-md-8">
      <h1> Start a pomodoro!</h1>
      <article class="tasks">
        <form>
          <input class="new-task-text" type="text" placeholder="Type a task and hit enter">
        </form>
        <ol class="sortable tasks">
          <li>Trial task number one</li>
        </ol>
      </article>
    </div>

    <div class="col-md-3 col-md-offset-1">
      <aside class="hint">
        <h3>Instructions:</h3>

        <p>Select a task which you are going to work on from a list. You can add new tasks any time. </p>

        <p>When you have one task selected, you can start a pomodoro by clicking on a 25 button.</p>

        <p>Don't forget you can't pause it! After work, use a 5 minutes button to take a break.
        </p>
      </aside>
    </div>
  </div>
</section>
