<li class="task">
  <span class="task-text"><%= task.content %></span>
  <span class="option active_action">active</span>
  <span class="option done_action">done</span>
  <span class="option delete_action">delete</span>
</li>
