<section class="timer">
  <div class="buttons">
    <div class="twenty-five">25</div>
    <div class="five">5</div>
  </div>
</section>
<section class="container">
  <div class="row start-row">

    <div class="headline">
      <div class="main twenty clickable"><p>20</p></div>
      <div class="main pink five clickable"><p>5</p></div>
      <div class="timer">
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <span class="dot">.</span>
        <p class="hidden"> Interrupt?</p>
      </div>

      <div class="overlay"></div>
    </div>
    <div id="box">
      <%= form_for Task.new, remote: true do |f| %>
        <%= f.text_field :content, placeholder: "Type a task and hit enter" %>
      <% end %>

    </div>
    <div class="quote" id="quote">

    </div>
  </div>

  <div class="col-md-8">
    <ul class="tasks">
      <%= render @tasks %>
    </ul>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <aside class="hint">
      <h3>Instructions:</h3>

      <p>Select a task which you are going to work on from a list. You can add new tasks any time. </p>

      <p>When you have one task selected, you can start a pomodoro by clicking on a 25 button.</p>

      <p>Don't forget you can't pause it! After work, use a 5 minutes button to take a break.
      </p>
    </aside>
  </div>
</div>
</section>
