<section class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <article class="about-text">
        <h2> About Pomodoro </h2>

        <p> The Pomodoro Technique helps you focus on one thing only and avoid distraction.
          Select a task, set up a timer for 25 minutes and start working. </p>

        <p> If anything disturbs you - your Pomodoro is over and you have to start again.
          There is no such thing like pause. </p>

        <div class="image-in-text">
          <img src="http://pomodorotechnique.com/wp-content/themes/pomodoro/img/getstarted/why_1.png" alt="pomodoro hearth">
        </div>

        <p>Why do I have to finish the whole pomodoro? </p>

        <p>We are most productive right when we do not try to multitask, check facebook statuses or think on
          thousands
          of
          other stuff.
          Finishing a pomodoro without interrupts will teach you to master your concetration.</p>

        <p>You will pretty soon see how 25 minutes is enough time to do almost anything.</p>

        <p>Fore more reference about this technique check the official page <a href="http://pomodorotechnique.com/">
          here</a>.</p>
      </article>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <article class="about-text">
        <h2 class="h2-in-text"> About this app</h2>

        <p>This app is free to use for everyone.
          It does not require an account to use the Pomodoro timer or tasks, however to keep track of your
          progress
          you can create one.</p>

        <p>If you are working anonymously and you will close the browser, you will lose our your tasks.</p>

        <p>Creating an account is very simple, all you need to do is give us your email and choose a pasword. We
          promise
          not to send you anything. </p>

        <p> You can register and start to use Pomodoro Timer with its full features right <a href="">here</a>.</p>
      </article>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <article class="about-text last">
        <h2> About us</h2>

        <p>This is a school project made by Zuzana Dostalova. Zuzana committed herself to learn Ruby on Rails and
          this
          app will hopefully help her to master that language.</p>

        <div class="image-in-text">
          <img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/150px-Ruby_on_Rails.svg.png" alt="ruby on rails image">
        </div>
        <p>You can check her other project (an awesome app about self-improvement, where you need to think and
          write) <a href="http://journeyapp.net">here</a>.
        </p>

      </article>
    </div>
  </div>
</section>
